COMPOSE_PROJECT_NAME=n8n
# n8n
N8N_KEY=GenericPassword
GENERIC_TIMEZONE=Europe/Madrid

# Database
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_USER=user
MYSQL_PASSWORD=userpass
WORDPRESS_DB=wordpress_db
MOODLE_DB=moodle_db
