COMPOSE_PROJECT_NAME=n8n
# n8n
N8N_KEY=your_n8n_password
GENERIC_TIMEZONE=Europe/Madrid

# Database
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=wordpress_moodle
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password

# Moodle
MOODLE_USERNAME=your_moodle_user
MOODLE_PASSWORD=your_moodle_password
